<app-navbar></app-navbar>
 <!-- container-fluid // jumbotron-fluid-->
    <div class="jumbotron-fluid h-100 home">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <!-- <div class="col-2 text-right bg-gray gray overflow">
                        <app-sidebar></app-sidebar>
                    </div> -->
                    <div class="col text-right bg-white overflow">
                       <app-body></app-body>
                    </div>
                </div>
            </div>
        </div>
<app-footer></app-footer>
        

