<!-- Nav tabs -->
 <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">البحث عن شهادة
        <div class="spinner-grow text-successs spinner-grow-sm"></div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu7">المعلمين
        <div class="spinner-grow text-successs spinner-grow-sm"></div>
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu8">المشرفين
          <div class="spinner-grow text-successs spinner-grow-sm"></div>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu9">المدربين
            <div class="spinner-grow text-successs spinner-grow-sm"></div>
        </a>
      </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">جميع الشهادات
        <div class="spinner-border spinner-border-sm"></div>
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div id="home" class="container tab-pane active"><br>
    <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>















  </div>
  <div id="menu7" class="container tab-pane fade"><br>

  
  dqwdq
  
  
  </div>
  <div id="menu8" class="container tab-pane fade"><br>
    <h3>المدربين</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="menu9" class="container tab-pane fade"><br>
    <h3>المشرفين</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>


  <div id="menu2" class="container tab-pane fade certificates"><br>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>الاسم كامل</th>
        <th>رقم الشهادة</th>
        <th>التاريخ</th>
        <th>الجهة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>john@example.com</td>
      </tr>
      <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>john@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td>john@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                  <td>john@example.com</td>
                </tr>
    </tbody>
  </table>




  </div>
</div>

<!-- <div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>  
<div class="spinner-border spinner-border-sm"></div>
<div class="spinner-grow spinner-grow-sm"></div>
<div class="spinner-border text-muted"></div>
<div class="spinner-border text-primary"></div>
<div class="spinner-border text-success"></div>
<div class="spinner-border text-info"></div>
<div class="spinner-border text-warning"></div>
<div class="spinner-border text-danger"></div>
<div class="spinner-border text-secondary"></div>
<div class="spinner-border text-dark"></div>
<div class="spinner-border text-light"></div>  -->
