<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#orders">طلب دورة
          <div class="spinner-grow text-successs spinner-grow-sm"></div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#orderslist">سجل الطلبات
          <div class="spinner-grow text-successs spinner-grow-sm"></div>
      </a>
    </li>
    
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="orders" class="container tab-pane active"><br>
    <p>قائمة الطلبات الحديثة:</p>            

    </div>

    <div id="orderslist" class="container tab-pane fade"><br>
    <p>جميع الطالبات</p>            
    <table class="table">
      <thead>
        <tr>
          <th>رقم الطلب</th>
          <th>تاريخ الطلب</th>
          <th>تاريخ الرد</th>
          <th>اسم الجهة</th>
          <th>نوع الطلب</th>
          <th>الحالة</th>
          <th>سبب الرفض</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11245</td>
          <td>2019/8/1</td>
          <td>2019/8/1</td>
          <td>جمعية مثاني</td>
          <td>دورة اعداد معلم</td>
          <td>قبول</td>
          <td>...</td>
        </tr>
        <tr>
            <td>89645</td>
            <td>2019/1/1</td>
            <td>2012/3/1</td>
            <td>جمعية بني الحارث</td>
            <td>دورة اعداد مشرف</td>
            <td>رفض</td>
            <td>لا يوجد مدرب متفرغ</td>
        </tr>
        <tr>
            <td>35245</td>
            <td>2019/8/1</td>
            <td>2018/2/1</td>
            <td>جمعية احسان</td>
            <td>دورة اعداد مدرب</td>
            <td>رفض</td>
            <td>لاتوجد برامج في الفترة المطلوبة</td>
        </tr>
      </tbody>
    </table>
  
    </div>
    
  </div>
  
  <!-- <div class="spinner-grow text-muted"></div>
  <div class="spinner-grow text-primary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-dark"></div>
  <div class="spinner-grow text-light"></div>  
  <div class="spinner-border spinner-border-sm"></div>
  <div class="spinner-grow spinner-grow-sm"></div>
  <div class="spinner-border text-muted"></div>
  <div class="spinner-border text-primary"></div>
  <div class="spinner-border text-success"></div>
  <div class="spinner-border text-info"></div>
  <div class="spinner-border text-warning"></div>
  <div class="spinner-border text-danger"></div>
  <div class="spinner-border text-secondary"></div>
  <div class="spinner-border text-dark"></div>
  <div class="spinner-border text-light"></div>  -->
  